*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

h3{
	text-align: center; 
	margin-top: 50px;
}

#chance{
	margin-top: 50px;
}

#inputs{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top: 90px;
}

#row-1, #row-2, #row-3{
	display: flex;
	justify-content: center;
}

.btn{
	width: 120px;
	height: 120px;
	background-color: #fdfefe;
}

#reset{
	display: flex;
	justify-content: center;
	margin-top: 10px;

}

#resultText , #reset-btn {
	visibility: hidden;
}

#reset-btn{
	width: 100px;
	height: 50px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 20px;
}

#reset-btn:hover{
	background-color: black;
	color: white;
	cursor: pointer;

}